* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #020617;
  color: white;
}

/* HEADER */
.cyber-header {
  height: 75px;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(56, 189, 248, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.15);
}

/* LOGO */
.cyber-logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #38bdf8;
  text-shadow:
    0 0 5px #38bdf8,
    0 0 10px #0ea5e9,
    0 0 20px #0284c7;
}

/* NAV */
.cyber-nav {
  display: flex;
  gap: 30px;
}

.cyber-nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 0.9rem;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
}

/* Neon underline */
.cyber-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #22d3ee, #a855f7, #ec4899);
  box-shadow: 0 0 10px #22d3ee;
  transition: 0.4s;
}

.cyber-nav a:hover {
  color: #22d3ee;
  text-shadow: 0 0 8px #22d3ee;
}

.cyber-nav a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.cyber-hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.cyber-hamburger span {
  width: 28px;
  height: 3px;
  background: #22d3ee;
  border-radius: 10px;
  box-shadow: 0 0 10px #22d3ee;
  transition: 0.4s;
}

.cyber-hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.cyber-hamburger.active span:nth-child(2) {
  opacity: 0;
}

.cyber-hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* MAIN */
/* .cyber-main {
  padding: 30px;
} */

.cyber-main {
  padding: 0;
  background: radial-gradient(circle at top, #020617, #000);
  min-height: 100vh;
}

/* MOBILE */
@media (max-width: 768px) {
  .cyber-hamburger {
    display: flex;
  }

  .cyber-nav {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
    background: rgba(2, 6, 23, 0.98);
    border-top: 1px solid rgba(34, 211, 238, 0.3);
    box-shadow: 0 10px 30px rgba(34, 211, 238, 0.2);
    transform: translateY(-200%);
    transition: 0.5s ease;
  }

  .cyber-nav.active {
    transform: translateY(0);
  }
}
